@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin common-h1-styles {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

@mixin common-p1-styles {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
}

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
body {
    font-family: 'Manrope', sans-serif;
    margin: 0%;
    padding: 0%;

    button {
        background-color: transparent;
        border: none;
        width: 137px;
        height: 52px;
    }
    .copy{
        text-align: center;
        color: #181433;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.32px;
    }
.mobileNav{
display: none;
}
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(292deg, #62BADA -35.02%, #C9E7F2 78.96%);
        padding: 53px 121px 10px 121px;

        h1 {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 45px;
            color: #000;
text-align: center;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
        }

        .nav-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            button:nth-child(2) {
                background: var(--pallet-3-primary, #4F46BA);
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

    }

    @media screen and (max-width: $breakpoint-small) {
        .mobileNav{
            display: block;
            justify-content: center;
            align-items: center;
            background: linear-gradient(292deg, #62BADA -35.02%, #C9E7F2 78.96%);
            height: 90px;;

            .mobile-item{
                display: flex;
                justify-content: flex-end;
                height: 30px;
            padding: 40px;
            }
        
        }
        nav {
            display: none;
        }
    }
    @media screen and (max-width:$breakpoint-large) {
        .mobileNav{
            display: none;
        }
      }
      @media screen and (max-width:$breakpoint-medium) {
        .mobileNav{
            display: none;
        }
      }
    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(292deg, #62BADA -35.02%, #C9E7F2 78.96%);
        height: 100vh;
        padding: 163px 121px 72px 121px;
        overflow: hidden;

        h1 {
            width: 646px;
            color: #000;
            font-family: Manrope;
            font-size: 60px;
            font-style: normal;
            font-weight: 800;
            line-height: 80px;
            /* 133.333% */
            letter-spacing: -1.8px;
        }

        p {
            color: #64607D;
            width: 510px;
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            /* 150% */
            letter-spacing: -0.4px;
        }
button{
    width: 200px;
            height: 60px;  
}
        button:nth-child(1) {
            border-radius: 47px;
            background: var(--pallet-4-primary, #3734A9);
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 162px;
            height: 60px;
        }
        button:nth-child(2){
            color: var(--pallet-4-primary, #3734A9);
            font-family: Manrope;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 176.471% */
            letter-spacing: -0.34px;
        }
        .fa-solid.fa-play {
            background-color: #22D497; 
            padding: 18px; 
            display: inline-block; 
            color: white;
            border-radius: 50%;
          }
        img {
            margin-top: 40px;
        }
span{
    color: #757095;

font-family: Manrope;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 176.471% */
letter-spacing: -0.34px;
}
        .heroSpan{
            padding: 40px;
            display: flex;
            gap:20px;
            justify-content: start;
        
        }
        .dots{
           position: absolute;
           left: 0;
        bottom: 15;
        }
        .cur{
            position: absolute;
  bottom: -390px;
  right: 0;
        }
        .bird{
            position: absolute;
            position: absolute;
            top: 88px;
            right: 16px;  
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .hero-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            height: 100vh;

            h1 {
                width: 300px;
                @include common-h1-styles;
            }

            p {
                width: 300px;
                @include common-p1-styles;
            }

            img {
                margin-top: 0px;
                max-width: 40%;
            }
            .heroSpan{
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap:20px;
                justify-content: start;
            
            }
        }
    }

    .software {
        display: flex;
        flex-direction: column;
        padding: 20px;
background-color:#F5F6F8 ;
padding: 20px;
        h1 {
            color: #000;
            text-align: center;
            font-family: Manrope;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .logo-images {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .logo-images {
            flex-direction: column;
            gap: 8px;
        }
    }

    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:72px 119px;

        .portfolio-content-one {
            h1 {
                color: #000;
                width: 646px;
                font-family: Manrope;
                font-size: 56px;
                font-style: normal;
                font-weight: 800;
                line-height: 66px;
                /* 117.857% */
                letter-spacing: -1.68px;
            }

            p {
                color: #000;
                width: 449px;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 29px;
                /* 181.25% */
                letter-spacing: -0.32px;
            }
        }

        .portfolio-content-two {
            @include flex();
            flex-direction: column;
            width: 402px;
            height: 177px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #C4C4C4;
            position: relative;

            p {
                color: #000;
                width: 334px;
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                /* 146.667% */
                letter-spacing: -0.3px;
            }

            img {
                position: absolute;
                left: 40px;
                top: -20px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .portfolio {
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .portfolio-content-one {
                h1 {
                    @include common-h1-styles;
                    width: auto;
                }

                p {
                    width: auto;
                    line-height: 24px;
                    letter-spacing: -0.28px;
                }
            }

            .portfolio-content-two {
                width: 300px;

                p {
                    width: 300px;
                }
            }
        }

    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 84px 121px;

        div {
            .cardSpan{
                color: #000;
                font-family: Manrope;
                font-size: 22px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                text-align: left;
                margin-left: -60%;
                padding: 30px;
            }
            border-radius: 20px;
            border: 1px solid #DBE4E9;
            width: 380px;
            height: 382px;
            flex-shrink: 0;
            background: #FFF;
            @include flex();
            flex-direction: column;

            h1 {
                color: #000;
                width: 276px;
                text-align: center;
                font-family: Manrope;
                font-size: 30px;
                font-style: normal;
                font-weight: 800;
                line-height: 34px;
                /* 113.333% */
                letter-spacing: -0.9px;
            }

            p {
                color: #757095;
                width: 270px;
                text-align: center;
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                /* 185.714% */
                letter-spacing: -0.28px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .cards {
            flex-direction: column;
            padding: 10px;

            div {
                width: auto;
            }
        }
    }

    .payments {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin-left: 8%;
        padding: 139px 124px 0px 124px;

        .image-background {
            position: relative;
            background-image: url('/image/pay/background.png');
            background-size: cover;
            width: 531px;
            height: 480px;
            flex-shrink: 0;

            img {
                position: absolute;
                top: 10px;
                left: -20%;
            }
        }

        ul {
            color: #505887;
            list-style-type: none;
            font-family: Manrope;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            /* 157.895% */
            letter-spacing: -0.38px;
        }

        span {
            color: var(--pallet-4-primary, #3734A9);
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        h1 {
            color: #000;
            font-family: Manrope;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 60px;
            /* 120% */
            letter-spacing: -1.5px;
        }

        p {
            width: 446px;
            color: #505887;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            /* 166.667% */
            letter-spacing: -0.36px;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .payments {
            grid-template-columns: repeat(1, 1fr);
text-align: center;
padding: 10px;
            .image-background {
                display: none;
                img {
                    object-fit: contain;
                    width: 300px;
                }
            }
.whyUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 90px;
    width: fit-content;
    h1 {
        @include common-h1-styles;
    }

    p {
        @include common-p1-styles;
    }
}
         
        }
    }

    .transaction {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
padding: 44px 121px;
        span {
            color: var(--pallet-4-primary, #3734A9);
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        h1 {
            color: #000;

            font-family: Manrope;
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 60px;
            /* 120% */
            letter-spacing: -1.5px;
            width: 479px;

        }

        p {
            color: #505887;
            width: 421px;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            /* 166.667% */
            letter-spacing: -0.36px;
        }

        .transaction-quote {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 479px;
            height: 152px;
            flex-shrink: 0;
            border-radius: 20px;
            background: #C4C4C4;
            position: relative;

            img {
                top: -20px;
                left: 40px;
                position: absolute;
            }

            p {
                color: #000;
                width: 426px;
                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                /* 146.667% */
                letter-spacing: -0.3px;
            }

            span {
                color: #000;

                font-family: Manrope;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                /* 146.667% */
                letter-spacing: -0.3px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .transaction {
            flex-direction: column;
            text-align: center;
            padding: 14px 61px;

            h1 {
                @include common-h1-styles();
                width: auto
            }

            p {
                @include common-p1-styles();
                width: auto;

            }

            .transaction-quote {
                width: fit-content;

                p {
                    @include common-p1-styles();
                    width: auto;
                }
            }

            img {
                max-width: 60%;
            }
        }
    }

    .features {
        background: #C9E7F2;
        display: flex;
        justify-content: center;
        padding: 96px 0px;
        .featureBody {
            position: relative;

.grass{
    position: absolute;
bottom: -10%;
left: -15%;
}
            h1 {
                color: #000;

                font-family: Manrope;
                font-size: 71px;
                font-style: normal;
                font-weight: 800;
                line-height: 66px;
                /* 92.958% */
                letter-spacing: -2.13px;
            }

            p {
                color: #000;
                width: 557px;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 29px;
                /* 181.25% */
                letter-spacing: -0.32px;
            }

            .feature-cards {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 10px;

                .big-cards {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 380px;
                    height: 338px;
                    border-radius: 10px;
                    border: 1px solid #ABC8D2;
                    background: #FFF;

                    h1 {
                        width: 305.143px;
                        color: #000;
                        font-family: Manrope;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 35px;
                        /* 159.091% */
                        letter-spacing: -0.66px;
                    }

                    p {
                        color: #000;
                        font-family: Manrope;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                        /* 173.333% */
                        letter-spacing: -0.3px;
                        width: 298.509px;
                    }
                }

                .subCard {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .sub-cards {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 380px;
                        height: 153px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        border: 1px solid #ABC8D2;
                        background: #FFF;

                        h1 {
                            width: 305.143px;
                            color: #000;
                            font-family: Manrope;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 35px;
                            /* 159.091% */
                            letter-spacing: -0.66px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .features {
            flex-direction: column;
            padding: 30px;

            .featureBody {

                h1 {
                    @include common-h1-styles();
                }

                p {
                    width: fit-content;
                    @include common-p1-styles();

                }

                .feature-cards {
                    flex-direction: column;

                    .big-cards {
                        width: fit-content;
                        text-align: center;

                        h1 {
                            @include common-h1-styles()
                        }

                        p {
                            @include common-p1-styles()
                        }
                    }

                    .subCard {
                        .sub-cards {
                            width: fit-content;
                            text-align: center;

                            h1 {
                                @include common-h1-styles()
                            }

                            p {
                                @include common-p1-styles()
                            }
                        }
                    }
                }
            }
        }
    }
        .testinomial {
            display: flex;
            flex-direction: column;
            padding: 150px 119px;

            .testinomial-title {
                display: flex;
                justify-content: space-around;
width: 100%;
                h1 {
                    color: #000;
                    font-family: Manrope;
                    font-size: 71px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 66px;
                    /* 92.958% */
                    letter-spacing: -2.13px;
                }

                p {
                    width: 570px;
                    color: #000;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 29px;
                    /* 181.25% */
                    letter-spacing: -0.32px;
                }
            }

            .testinomial-comment {
                display: flex;
                gap: 12px;
                justify-content: space-evenly;
                width: 100%;

                .testinomial-comment-box {
                    width: 699px;
                    height: 400px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    border: 1px solid #CFCFCF;
                    position: relative;
                    background: #FFF;
                    display: flex;
                    position: relative;

                    justify-content: center;
                    align-items: center;

                    p {
                        color: #000;
                        width: 368px;
                        font-family: Manrope;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 36px;
                        /* 144% */
                        letter-spacing: -0.5px;
                    }

                    span {
                        color: #000;
                        font-family: Manrope;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 22px;
                        /* 110% */
                        letter-spacing: -0.4px;
                    }
                    .quot{
                            position: absolute;
                            left: 40px;
                            top: -20px;
                    }
                    .model {
                        width: 240px;
                        height: 350px;
                        flex-shrink: 0;
                    }
                }
            }
        }
        
        @media screen and (max-width: $breakpoint-small) {
            .testinomial{
                padding: 75px 39px;

                .testinomial-title{
                    flex-direction: column;
                    h1{
                        @include common-h1-styles()
                                        }
                                        p{
                                            @include common-p1-styles();
                                            width: fit-content;
                                        }
                                        img{
                                            max-width: 30%;
                                        }
                }
                .testinomial-comment{
                    flex-direction: column;
                    .testinomial-comment-box{
                        width: 300px;
                        height: 400px;
                        flex-direction: column;
                        position: relative;
                        gap:10px;
                        p{
                            position: absolute;
                            @include common-p1-styles();
                            width:fit-content;
                        }
                    }
                }
            }
        }
        .statis {
          
            padding: 100px 0px 0px 0px;
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--pallet-4-primary, #3734A9);

            .statsNum {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
            .curvyy{
                position: absolute;
                right: 0;
            }

            span {
                color: #FFF;
                width: 143px;
                font-family: Manrope;
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
                /* 163.158% */
                letter-spacing: -0.38px;
            }

            h1 {
                color: #FFF;
                font-family: Manrope;
                font-size: 72px;
                font-style: normal;
                font-weight: 800;
                line-height: 72px;
                /* 100% */
                letter-spacing: -1.44px;
            }

            p {
                color: #FFF;
                font-family: Manrope;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
                /* 103.333% */
                letter-spacing: -0.6px;
            }
        }
    }
        @media screen and (max-width: $breakpoint-small) {
       .stats{
        flex-direction: column;
        justify-content: start;

       }
        }
        .blog {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
padding: 147px 119px;
            .blogBody {
                h1 {
                    color: #000;
                    font-family: Manrope;
                    font-size: 71px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 66px;
                    /* 92.958% */
                    letter-spacing: -2.13px;
                }

                .practiceOne {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    span {
                        color: #000;

                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        /* 225% */
                        letter-spacing: 1.12px;
                        text-transform: uppercase;
                    }

                    p {
                        width: 524px;
                        color: #000;
                        font-family: Manrope;
                        font-size: 29px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        /* 124.138% */
                        letter-spacing: -0.58px;
                    }

                    img {
                        width: 499px;
                        height: 285px;
                    }
                }
            }
            
            .practiceTwo {
                margin-top: 20px;
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(3, 380px);

                .practiceBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 10px;

                    span {
                        color: #000;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        /* 225% */
                        letter-spacing: 1.12px;
                        text-transform: uppercase;
                    }

                    p {
                        color: #000;
                        width: 310px;
                        font-family: Manrope;
                        font-size: 29px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        /* 124.138% */
                        letter-spacing: -0.58px;
                    }

                    img {
                        width: 382px;
                        height: 202px;
                        object-fit: cover;
                    }
                }
            }
        }
        @media screen and (max-width: $breakpoint-small) {
           .blog{
         .blogBody{
            text-align: center;
            h1{
                @include common-h1-styles();
            }
            .practiceOne{
                grid-template-columns: repeat(1,300px);
                justify-content: center;
                align-items: center;
                text-align: center;
                p{
                    @include common-p1-styles();
                    text-align: center;
                    width: auto;
                }
                img{
                    max-width: 100%;
                }
            }
            .practiceTwo{
grid-template-columns: repeat(1,1fr);
gap: 0px;
p{
    @include common-p1-styles();
    width: fit-content;
}
img{
    max-width: fit-content;
}
            }
         }
            
           } 
        }
        .faq {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
padding: 0px 119px;
            h1 {
                color: #000;
                font-family: Manrope;
                font-size: 71px;
                font-style: normal;
                font-weight: 800;
                line-height: 76px;
                /* 107.042% */
                letter-spacing: -2.13px;
            }
.ninja{
position: absolute;
left: 0;
}
.yello{
    position: absolute;
    right: 0%;
}
            .faQueries {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 20px;
                justify-content: center;
                align-items: center;

                .accordion {
                    margin-bottom: 10px;

                    .accordion-btn {
                        position: relative;

                        border: none;
                        padding: 15px 20px;
                        text-align: left;
                        cursor: pointer;
                        font-weight: bold;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
                        list-style-image: none;

                        &::-webkit-details-marker {
                            background: none;
                            color: transparent;
                        }

                        &::after {
                            content: "›";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            font-size: 35px;
                            font-family: monospace;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            border-radius: 50%;
                            color: #000000;
                            border: 2px solid #000000;
                            transform: translate(0%, -50%) rotate(0deg);
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            padding-bottom: 4px;
                            padding-left: 2px;
                            justify-content: center;
                            font-weight: normal;
                            transition: all .3s ease;
                        }
                    }

                    .accordion-content {
                        background-color: #ffffff;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

                        >* {
                            padding: 10px 20px;
                        }
                    }

                    &[open] {
                        .accordion-btn::after {
                            transform: translate(0%, -50%) rotate(90deg);
                        }

                        summary~* {
                            overflow: hidden;
                            animation: heightUp 1s ease-in-out;
                        }
                    }
                }

                @keyframes heightUp {
                    0% {
                        max-height: 0;
                    }

                    100% {
                        max-height: 2000px;
                    }
                }

                .questionBox {
                    width: 401px;
                    height: 512px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    border: 1px solid #CFCFCF;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    background: #FFF;

                    h1 {
                        color: #000;
                        font-family: Manrope;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 22px;
                        /* 100% */
                    }

                    p {
                        color: #000;
                        text-align: center;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 31px;
                        /* 193.75% */
                        letter-spacing: -0.32px;
                        width: 333px;
                    }

                    button {
                        width: 337px;
                        height: 76px;
                        flex-shrink: 0;
                        background: var(--pallet-4-accent, #FF7F5C);
                        color: white;
                    }
                }
            }
        }
        @media screen and (max-width: $breakpoint-small) {
            .faq{
                justify-content: center;
                align-items: center;
                padding: 75px 39px;
                h1{
                @include common-h1-styles();
               }
               .faQueries{
                grid-template-columns: 1fr;
                padding: 10px;
               }
               .questionBox{
                width: 250px;
               }
            }
        }
        .discover {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;

            .discoverBox {
                background: var(--pallet-4-primary, #3734A9);
                width: 1200px;
                height: 438px;
                flex-shrink: 0;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
position: relative;
                h1 {
                    color: #FFF;
                    width: 763px;
                    text-align: center;
                    font-family: Manrope;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 61px;
                    /* 108.929% */
                    letter-spacing: -1.68px;
                }

                button {
                    width: 223px;
                    height: 67px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: var(--pallet-4-accent, #FF7F5C);
                }
                .vector{
position: absolute;
                }
                .dottedLine{
                    position: absolute;
                    top: 18px;
                    right: 16px;
                }
                .cube{
position: absolute;
  bottom: 8px;
  left: 16px;                }
                .bigCube{
position: absolute;
bottom: 8px;
right: 16px;
                }
            }
        }
        @media screen and (max-width: $breakpoint-small) {
        .discover{
            .discoverBox{
                width: 300px;
                h1{
                    @include common-h1-styles();
                    width: 200px;
                }
                button{
                    width: fit-content;
                }
            }
        }
        }
        .footer {
          display: grid;
          grid-template-columns: repeat(4,1fr);
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #E5E5EA;
padding: 150px 123px;
            .footer-item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 4px;

                .footerInput {
                    display: flex;

                   

                    button {
                        width: 149px;
                        height: 52px;
                        flex-shrink: 0;
                        background: var(--pallet-4-primary, #3734A9);
                        color: white;
                    }
                }

                h1 {
                    color: var(--pallet-1-dark, #1B1C31);
                    font-family: Manrope;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    /* 133.333% */
                    letter-spacing: -0.42px;
                }

                ul {
                    list-style-type: none;
                    padding: 4px;
                }

                .flexIcon {
                    display: flex;
                    gap: 10px;
                    font-size: 20px;
                }
            }
       
        }
    }
    @media screen and (max-width: $breakpoint-small) {
   .footer{
    grid-template-columns: repeat(1,1fr);
    .footer-item{
        h1{
            @include common-h1-styles();
        }
        p{
            @include common-p1-styles();
            width: fit-content;
        }
    .footerInput{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
}
   }
   
}